<div class="flex flex-row items-center gap-4">
	<p class="text-xl font-semibold text-gray-400 flex-0">Transactions</p>
	<div class="flex-grow border-b"></div>
</div>

<div class="mt-4 bg-white border">
	<table class="w-full">
		<tr class="text-left text-gray-600 bg-gray-100 border-b">
			<% ['Title', 'Price', 'Date', 'Needs', 'Wants', 'Invest', 'Notes', 'Action'].each do |head| %>
				<th class="p-4"><%= head %></th>
			<% end %>
		</tr>
		<% @transactions.each do |transaction| %>
			<tr>
				<td class="p-4">
					<p><%= transaction.title %></p>
				</td>
				<td class="p-4">
					<p><%= number_to_currency transaction.price, unit: 'Rp ', separator: ',', delimiter: '.', precision: 0 %></p>
				</td>
				<td class="p-4">
					<p><%= l transaction.created_at, format: :long %></p>
				</td>
				<td class="p-4">
					<p><%= number_to_currency transaction.needs, unit: 'Rp ', separator: ',', delimiter: '.', precision: 0 %></p>
				</td>
				<td class="p-4">
					<p><%= number_to_currency transaction.wants, unit: 'Rp ', separator: ',', delimiter: '.', precision: 0 %></p>
				</td>
				<td class="p-4">
					<p><%= number_to_currency transaction.invest, unit: 'Rp ', separator: ',', delimiter: '.', precision: 0 %></p>
				</td>
				<td class="max-w-xs p-4">
					<p class="truncate"><%= transaction.notes.present? ? transaction.notes : '-' %></p>
				</td>
			</tr>
		<% end %>
	</table>
</div>
