<div class="flex flex-row items-center gap-4">
	<p class="text-xl font-semibold text-gray-400 flex-0">Transaction History</p>
	<div class="flex-grow border-b"></div>
</div>

<div class="mt-4 bg-white border">
	<table class="w-full">
		<tr class="text-left text-gray-600 bg-gray-100 border-b">
			<% ['Title', 'Price', 'Date', 'Needs', 'Wants', 'Invest', 'Notes', 'Action'].each do |head| %>
				<th class="p-4"><%= head %></th>
			<% end %>
		</tr>
		<% @transactions.each_with_index do |transaction, index| %>
			<tr>
				<td class="p-4">
					<p><%= transaction.title %></p>
				</td>
				<td class="p-4">
					<p><%= number_to_currency transaction.price, unit: 'Rp ', separator: ',', delimiter: '.', precision: 0 %></p>
				</td>
				<td class="p-4">
					<p><%= l transaction.created_at, format: :long %></p>
				</td>
				<td class="p-4">
					<p><%= number_to_currency transaction.needs, unit: 'Rp ', separator: ',', delimiter: '.', precision: 0 %></p>
				</td>
				<td class="p-4">
					<p><%= number_to_currency transaction.wants, unit: 'Rp ', separator: ',', delimiter: '.', precision: 0 %></p>
				</td>
				<td class="p-4">
					<p><%= number_to_currency transaction.invest, unit: 'Rp ', separator: ',', delimiter: '.', precision: 0 %></p>
				</td>
				<td class="max-w-xs p-4">
					<p class="truncate"><%= transaction.notes.present? ? transaction.notes : '-' %></p>
				</td>
				<td class="relative p-4">
					<div class="flex justify-center">
						<button id="table-action">
							<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path></svg>
						</button>
					</div>

					<div id="<%= "modal-#{index}" %>" class="absolute right-0 z-50 hidden w-48 mt-2 bg-white shadow-lg origin-top-left rounded-md ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
						<%= link_to edit_transaction_path(transaction), class: 'flex flex-row items-center block px-4 py-2 text-sm text-gray-700 gap-2 hover:bg-gray-100' do %>
							<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path></svg>
							<span>Edit</span>
						<% end %>

						<%= link_to transaction_path(transaction), method: :delete, class: 'flex flex-row items-center block px-4 py-2 text-sm text-red-700 gap-2 hover:bg-red-100' do %>
							<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
							<span>Delete</span>
						<% end %>
					</div>
				</td>
			</tr>
		<% end %>
	</table>
</div>
