<%= render 'shared/searchbar' %>

<div class="flex flex-col my-8 mx-4 md:mx-8 gap-1">
  <% @expenses.each do |expense| %>
    <%= link_to expense, class: 'bg-white flex items-center justify-between border px-5 py-5 rounded-md' do %>
      <div class="flex flex-col gap-1">
        <h1 class="font-semibold text-md"><%= expense.title %></h1>
        <p class="text-sm text-gray-400"><%= expense.date.strftime('%a, %d %b %Y') %></p>
      </div>
      <p class="text-green-500 text-sm"><%= number_to_currency_idr(expense.price) %></p>
    <% end %>
  <% end %>
</div>

<%= render 'shared/fab' %>
