<%= render 'shared/searchbar' %>

<div class="flex items-center my-8 mx-4 md:mx-8">
  <table class="w-full bg-white shadow-md rounded-lg table-fixed">
    <thead class="bg-slate-50 border-b">
      <tr>
        <th class="text-bold text-left p-4">Title</th>
        <th class="text-bold text-left p-4">Date</th>
        <th class="text-bold text-left p-4">Price</th>
        <th class="text-bold text-left p-4">Needs</th>
        <th class="text-bold text-left p-4">Wants</th>
        <th class="text-bold text-left p-4">Invest</th>
        <th class="text-bold text-left p-4">Description</th>
        <th class="text-bold text-left p-4">Action</th>
      </tr>
    </thead>
  
    <tbody>
      <% @expenses.each do |expense| %>
        <tr>
          <td class="p-4"><%= expense.title %></td>
          <td class="p-4"><%= expense.date.strftime('%a, %d %b %Y') %></td>
          <td class="p-4 <%= expense.income? ? 'text-green-500' : 'text-red-500' %>"><%= expense.income? ? '+' : '-' %><%= number_to_currency_idr(expense.price) %></td>
          <td class="p-4">0</td>
          <td class="p-4">0</td>
          <td class="p-4">0</td>
          <td class="p-4"><%= expense.description %></td>
          <td class="p-4">Placeholder</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

