<!DOCTYPE html>
<html>
  <head>
		<title>Cashlog | Manage your money effectively and efficient</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'inertia' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <main class="min-h-screen pt-16 bg-gray-100">
      <div class="px-6 py-4 container mx-auto md:max-w-2xl">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
