<!DOCTYPE html>
<html>
  <head>
    <title>Cashlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<div id="app">
			<%= render 'shared/navbar' %>

			<aside class="fixed inset-y-0 hidden pt-20 overflow-x-hidden overflow-y-auto sm:block">
				<%= render 'shared/sidebar' %>
			</aside>

			<main class="pt-20 sm:pl-64">
				<div class="p-4">
					<%= yield %>
				</div>
			</main>
		</div>
  </body>
</html>
