<!DOCTYPE html>
<html>
  <head>
		<title>Cashlog | Manage your money effectively and efficient</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<div id="app">
			<%= render 'shared/navbar' %>

			<aside class="fixed inset-y-0 hidden pt-16 overflow-x-hidden overflow-y-auto bg-white border-r border-md sm:block">
				<%= render 'shared/sidebar' %>
			</aside>

			<main class="min-h-screen pt-16 bg-gray-100 sm:pl-64">
				<div class="px-6 py-4">
					<%= yield %>
				</div>
			</main>
		</div>
  </body>
</html>
